
@{
    ViewBag.Title = "Takip";
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";

    @model List<IsTakipSistemi.Models.Isler>
}

<h2>İŞ Durumları</h2>
@foreach(var item in Model)
            {
                
            }

