
@{
    ViewBag.Title = "Yap";
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";
}

<h2>Yap</h2>

<div class="container mt-4">
    @foreach (var duty in ViewBag.isler)
    {
        using(Html.BeginForm("Yap","Calisam",FormMethod.Post))
                {
                    <div class="card">
                        <div class="card-header text-center">
                            @duty.isBaslik
                        </div>
                        <div class="card-body">
                            @duty.isAciklama
                            <input type="hidden" name="isId" value="@duty.isId"/>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" type="submit">Tamamla</button>
                        </div>

                    </div>
                    <br />
                }

    }

</div>